:root {
  /* Colors */
  --raw-seinna: hsl(24, 74%, 58%);
  --sizzling-sunrise: hsl(51, 95%, 54%);
  --scarlet: hsl(13, 96%, 47%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --ff-saira-stencil-one: "Saira Stencil One", sans-serif; 
  --ff-poppins: 'Poppins', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  /* Text sizes */
  --fs-1: 2rem;
  --fs-2: 1.8rem;
  --fs-3: 1.3rem;
  --fs-4: 1.4rem;
  --fs-5: 1rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-400: 400;
  --fw-700: 700;

  /* Transition */
  --transition-1: 0.25s ease-in-out;
    
  /* Spacing */
  --section-padding: 80px;

  /* Radius */
  --radius-5: 5px;
  --radius-10: 10px;
}

/* Theme Colors */

/*
body.dark_theme {
  --bg-primary: hsl(195, 100%, 10%);
  --bg-secondary: hsl(205, 97%, 23%);
  --color-primary: hsl(180, 77%, 15%);
  --color-secondary: hsl(210, 80%, 70%);
  --card-shadow: hsla(0, 0%, 0%, 0.4);
  --input-bg: hsl(200, 95%, 20%);
} 
  */

body.light_theme {
  --bg-primary: hsl(195, 100%, 90%);
  --bg-secondary: hsl(205, 95%, 95%);
  --color-primary: hsl(180, 77%, 15%);
  --color-secondary: hsl(210, 80%, 70%);
  --card-shadow: hsla(0, 0%, 0%, 0.1);
  --input-bg: hsl(200, 95%, 80%);
}

/* Header */
.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-secondary);
  box-shadow: 0 2px 4px var(--card-shadow);
  z-index: 4;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Logo */
.logo a {
  color: var(--bg-secondary);
  font-family: var(--ff-saira-stencil-one);
  font-size: var(--fs-1);
  text-decoration: none;
}

.logo span {
  color: var(--raw-seinna);
}

/* Navbar Actions */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

/*
.navbar-actions select {
  color: var(--color-primary);
  background: var(--bg-primary);
  border: none;
  padding: 5px;
  border-radius: var(--radius-5);
}
*/


.theme-btn {
  padding: 4px;
  width: 48px;
  height: 48px;
  background: var(--bg-secondary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition-1);
}

/* Navbar */
.navbar {
  display: block;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: var(--bg-secondary);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  transition: var(--transition-1);
  border: 2px solid var(--bg-primary);
  border-radius: 50px;
  border-color: var(--sizzling-sunrise);
  padding: 10px 20px;
}

.navbar-link:hover {
  color: var(--raw-seinna);
}
